{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes Próximos a Vencer</title>
    <link href={% static 'cliente_plantilla/css/styles.css' %} rel="stylesheet">
</head>
<body>
    <nav>
        <div class="nav-container">
            <div class="logo">LOGO</div>
            <div class="hamburger" onclick="toggleMenu()">
                &#9776;
            </div>
            <ul class="nav-links">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="lista_clientes.html">Lista Clientes</a></li>
                <li><a href="visitas.html">Visitas</a></li>
                <li><a href="cobros.html">Cobros</a></li>
                <li><a href="promociones.html">Promociones</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        
        <h1>Lista de Clientes</h1>
        
        <div class="client-list">
            {% for cliente in lista_clientes %}
                <a href={% url 'menu_cliente'  id=cliente.id %} class="client">
                    <p><strong>Apellido:</strong> {{ cliente.apellido }}</p>
                    <p><strong>Nombre:</strong> {{ cliente.nombre }}</p>
                    <p><strong>Dirección:</strong> {{ cliente.direccion }}</p>
                    <p><strong>Fecha de Alta:</strong> {{ cliente.fecha_alta }}</p>
                </a>
                {% empty %}
                    <h4>No hay registros</h4>
            {% endfor %}
        </div>
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">&laquo; Anterior</a>
            {% endif %}

            <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Siguiente &raquo;</a>
            {% endif %}
        </div>
        
        
    </div>

    <script>
        function toggleMenu() {
            const navLinks = document.querySelector('.nav-links');
            navLinks.classList.toggle('active');
        }
    </script>
</body>
</html>